@media(min-width: 1024px) {


h2 {
font-size: 2em;
}

header {
	grid-template-columns: 3fr 1fr 1fr;
	flex-flow: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
}

main {
	margin: 1em;
	text-align:left;
}


#title {
	justify-content: center;
}

#logo {
	width: 308px;
	}
	
.socials {
	margin-right: 0;
    margin: 0px;
}

nav {
	grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 2em;
    margin-top: 1em;
}

nav ul {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	list-style: none;
	margin-top: 0;
}

nav ul.open { 	
	display: flex;
	flex-flow: row;
}
	

nav a {
	font-size: 25px;
	padding: 0.5em;
}

header button {display: none;}

#logo-footer {
	width: 30%;
	margin-top: 1em;
	}

.footer-left {
	margin-top: 1em;
}


/*  */

.grid {
	grid-template-columns: repeat(auto-fit, minmax(467px, 1fr));
}

.grid section {
	margin: 1.25rem;
    padding: 0.35rem;
}


.grid section > * {
    margin: 10px 1rem;    
    font-size: 17x;
}


.list section {
	margin-left: 0;
	margin-right: 0;
	margin: 10px;
}

.list section > * {
    text-align: left;
    font-size: 16px;
	margin: 7px;
}
  
.list img { 
    display: block;
    height: auto;
	max-width: 12em;
  }

  .list .Bronze {
    font-size: 18px;
}

.list .Silver {
    font-size: 18px;
}

.list .Gold {
    font-size: 18px;
}

/*  */
}






