@media(min-width: 1024px) {


h2 {
font-size: 2em;
}

header {
	grid-template-columns: 3fr 1fr 1fr;
	flex-flow: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
}

main {
	margin: 1em;
	text-align:left;
}

#title {
	justify-content: center;
}

#logo {
	width: 90%;
	}
	
.socials {
	width: 80%;
}

nav {
	grid-column: 2/3;
    grid-row: 1/2;
	margin-right: 2em;
    margin-top: 1em;
}

nav ul {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	list-style: none;
	margin-top: 0;
}

nav ul.open { 	
	display: flex;
	flex-flow: row;
}
	

nav a {
	font-size: 25px;
	padding: 0.5em;
}

header button {display: none;}

#logo-footer {
	width: 30%;
	margin-top: 1em;
	}

.footer-left {
	margin-top: 1em;
}


/* Home Boxes */

.home-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}	

.home-container div{
	margin-left: -15px;
}	

.hero {
	height: 95%;
    width: 94%;
    grid-column: 2/4;
    grid-row: 1/3;
}

.hero img {
	width: 100%;
    height: 100%;
    margin: 0;
}


.hero button {
	font-size: 25px;
    left: 31%;
    right: 50%;
    width: 396px;
    height: 53px;
    bottom: 10%;
    position: absolute;
}

.news {
	height: 100%;
	width: 94%;
    grid-column: 2/4;
    grid-row: 3/3;

}

.event {
	width: 88%;
    height: 89%;
    font-size: 15px;
    grid-column: 2/1;
    grid-row: 1/1;
}


.weather {
	height: 92%;
    width: 88%;
    grid-column: 1/1;
    grid-row: 2/2;
}


.join {
	height: 100%;
    width: 88%;
    grid-column: 1/1;
    grid-row: 3/3;
}

.join button{
	right: 18em;
    bottom: 16em;
    font-size: 25px;
}

#spotlights {
	grid-column: 4/4;
    grid-row: 1/4;
	height: 100%;
    display: flex;
    flex-direction: column;
}

#spotlights div{
    width: 85%;
	height: 100%;
	margin: 22px;
}

#spotlight-large {
	display: block;
}
/* */

}