html{
	font-family: 'Noto Sans', sans-serif;
}

h2 {
	font-family: 'Reem Kufi Ink', sans-serif;
	font-size: 25px;
}

header {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	color:white;
	background-color: #0D3B66;
	flex-flow: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
}

#logo {
	width: 175px;
    margin: 0.5em;
    margin-left: 20px;
	}

.socials {
	display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-left: 0;
}

.socials img {
	width: 30px;
}

.socials a {
	margin: 4px;
}

/* nav */

nav {
	font-family: 'Reem Kufi Ink', sans-serif;
	grid-column: 1/4;
}
	
nav ul {
	display:none;
}

nav ul.open { 	
	padding: 0;
    margin: 0;
	display: block;
	list-style: none;
}
nav a {
	display: flex;
	color: #fce803;
    text-decoration: none;
    font-size: 20px;
	padding: 10px;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

nav a:hover{ 
background-color: #E39000; 
color:black;
}

/* hamburg germany */

header button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
	grid-column: 3/3;
	grid-row: 1/3;

	display: flex;
    justify-content: flex-end;
	margin: 1em;	
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*  */

.date {
	font-size: 18px;
    line-height: 30px;
    text-align: center;
    grid-column: 1/4;
}


main {
	padding: 1em;
}

main h2{
	color:#fce803;
}


/* Contact */


.contact-description {
    color: black;
    grid-column: 1/3;
    text-align: center;
    margin-top: -3px;
    margin-bottom: 35px;
}


.email-us {
    background-color: #7ABFDE;
    margin: -16px;
    padding: 20px;
    border-width: 10px;
    border: 0.5px solid black;
}

.email-us h2 {
	text-align: center;
}

.our-info h2{
    text-align: center;
}


/* Form */

.field-title {
    font-weight: bold;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;

    width: 95%;
}

form legend{
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form.div {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 90%;
    background-color: rgb(245 245 245);
}

form label.sbs {    
    display:block;
    padding: .75rem 0;
}

.message {
    width: 20em;
    height: 15em;
    resize: none;
}


.submitBtn {
    border: none;
    background-color: #fce803;
    color: #995c1e;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    margin: 0px 0 1rem 2%;
    width: 100%;
    max-width: 15rem;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-size: 20px;
}

.submitBtn:hover {
    color: #fce803;
    background-color: #995c1e; 
    cursor: pointer;
}

/* */

.our-info {
    background-color: #7ABFDE;
    margin: -16px;
    padding: 20px;
    border-width: 10px;
    border: 0.5px solid black;
}

.our-info img {
    width: 100%;
}

.thankyou-message {
    color: black;
    grid-column: 1/4;
    text-align: center;
}



/* */
footer {
	color: white;
	background-color: #0D3B66;
	line-height: 20px;
	font-size: 14px;
	bottom: 0;
    width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#location-link {
	color: white;
	text-decoration: none;
}

.footer-end {
	display: flex;
	flex-flow: column;
    align-items: center;
}

#logo-footer {
	width: 10%;
	margin-top: 17px;

	margin-left: auto;
  	margin-right: auto;
}

table, td, th {
  border: 1px solid;
  padding: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

