html {
	max-width: 500px;
	margin: auto;
}

body {
  font-family: "Saira", sans-serif;
}

footer {
	font-family: "Saira", sans-serif;
	color: white;
	background-color: #396e94;
	padding: 0.5em;	
	border-radius: 25px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 1px 1px 0.5em black;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#title-box {
	grid-column: 1/4;
	background-color: #396e94;
	border-radius: 25px;
	height: 10em;
	width: 100%;
	box-shadow: 1px 1px 0.5em black;
}

#my-pic {
	width: 25%;
	margin: 1em;
	box-shadow: 1px 1px 1em black;
}

#my-name {
    color: white;
    text-shadow: 1px 1px 10px black;
	position: relative;
    bottom: 4.6em;
    left: 6.8em;
}

.portal-title {
	 font-family: "Lucida Console", sans-serif;
	 color: #434343;
	 text-shadow: 1px 1px 10px black;
}

.horizontal-line {
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

li {
	font-family: "Lucida Console", sans-serif;
	margin-bottom: 0.5em;
}

p#date-updated {
	color: yellow;
}